/* Табы 2 */
.tabs-2 {
  position: relative;
  display: flex;
  max-width: var(--tabs-2-width);
  margin: var(--tabs-2-margin);
  border: var(--tabs-2-border-solid) solid rgba(var(--tabs-2-border-sol-color), 1);
  border-radius: var(--tabs-2-border-radius);
  font-size: var(--tabs-2-font-size);
  line-height: var(--tabs-2-line-height);
  box-shadow: 0 2px 8px rgba(var(--tabs-2-box-shadow), 0.25);
  overflow: hidden;
}
/* Контейнер Кнопок */
.tabs-2 .header {
  display: flex;
  width: auto;
  user-select: none;
  border-right: inherit;
  background: rgba(var(--header-background), 0.15);
  text-shadow: 0 1px 2px rgb(var(--header-text-shadow), 1);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  flex-direction: column;
  grid-row-gap: var(--header-grid-row-gap);
  padding: var(--header-padding);
}
/* Кнопка в обычном состоянии */
.tabs-2 .header div {
  display: flex;
  position: relative;
  width: var(--header-div-width);
  height: var(--header-div-height);
  border-radius: var(--header-div-border-radius);
  line-height: 1.65;
  font-size: var(--header-div-font-size);
  overflow: visible;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(var(--header-div-color), 1);
  cursor: pointer;
  transition: color 0.15s, flex-grow 0.05s, font-size 0s;
  /*background: rgba(var(--header-div-background), 0.2);*/
  /*box-shadow: 0 1px 4px 1px rgba(var(--header-div-box-shadow), 0.15);*/
  border: var(--header-div-border-solid) solid;
 /*border-left-color: rgba(var(--header-div-border-left-color), 0.9);*/
  /*border-right-color: rgba(var(--header-div-border-right-color), 0.9);*/
  /*border-bottom-color: rgba(var(--header-div-border-bottom-color), 0.9);*/
  /*border-top-color: rgba(var(--header-div-border-top-color), 0.9);*/
}
/*.tabs-2 .header div:hover {
  background: rgba(var(--header-div-hover-background), 0.7);
}*/
/* Активированная Кнопка */
.tabs-2 .header div.active {
  cursor: default;
  /* background-color: rgba(var(--header-div-active-background), 0.8);*/
  /* color: rgba(var(--header-div-active-color), 0.9);*/
}
/* Контейнер Содержимого */ /* Цвет и размер линии разделяющая Кнопки и Содержимое */
.tabs-2 .container {
  flex-grow: 1;
  padding: var(--padding-container);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;
  height: auto;
}
/* Содержимое */
.tabs-2 .container > div {
  display: none !important;
  visibility: hidden;
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  transition: opacity 0.02s, visibility 0.02s;
  transition-delay: 0s, 0s;
}
.tabs-2 .container > div:not(.hidden) {
  display: block !important;
  visibility: visible;
  opacity: 1;
  overflow: initial;
  transition: opacity 0.02s, visibility 0.02s;
  transition-delay: 0.02s, 0.02s;
}
.tabs-2 .b-image img {
  width: 100%;
}
.hr {
  height: var(--hr-height-1px);
  margin: var(--hr-margin);
  background-image: -webkit-linear-gradient(left, transparent, rgb(var(--hr), 1), transparent);
}
.tabs-2 div.button-h-1,
.tabs-2 div.button-h-2,
.tabs-2 div.button-h-3,
.tabs-2 div.button-h-4,
.tabs-2 div.button-h-5,
.tabs-2 div.button-h-6,
.tabs-2 div.button-h-7,
.tabs-2 div.button-h-8,
.tabs-2 div.button-h-9,
.tabs-2 div.button-h-10,
.tabs-2 div.button-h-11,
.tabs-2 div.button-h-12,
.tabs-2 div.button-h-13,
.tabs-2 div.button-h-14,
.tabs-2 div.button-h-15,
.tabs-2 div.button-h-16,
.tabs-2 div.button-h-17,
.tabs-2 div.button-h-18,
.tabs-2 div.button-h-19,
.tabs-2 div.button-h-20,
.tabs-2 div.button-h-21,
.tabs-2 div.button-h-22,
.tabs-2 div.button-h-23,
.tabs-2 div.button-h-24,
.tabs-2 div.button-h-25,
.tabs-2 div.button-h-26,
.tabs-2 div.button-h-27,
.tabs-2 div.button-h-28,
.tabs-2 div.button-h-29,
.tabs-2 div.button-h-30 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  margin: auto !important;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}
.tabs-2 div.button-h-1::after,
.tabs-2 div.button-h-2::after,
.tabs-2 div.button-h-3::after,
.tabs-2 div.button-h-4::after,
.tabs-2 div.button-h-5::after,
.tabs-2 div.button-h-6::after,
.tabs-2 div.button-h-7::after,
.tabs-2 div.button-h-8::after,
.tabs-2 div.button-h-9::after,
.tabs-2 div.button-h-10::after,
.tabs-2 div.button-h-11::after,
.tabs-2 div.button-h-12::after,
.tabs-2 div.button-h-13::after,
.tabs-2 div.button-h-14::after,
.tabs-2 div.button-h-15::after,
.tabs-2 div.button-h-16::after,
.tabs-2 div.button-h-17::after,
.tabs-2 div.button-h-18::after,
.tabs-2 div.button-h-19::after,
.tabs-2 div.button-h-20::after,
.tabs-2 div.button-h-21::after,
.tabs-2 div.button-h-22::after,
.tabs-2 div.button-h-23::after,
.tabs-2 div.button-h-24::after,
.tabs-2 div.button-h-25::after,
.tabs-2 div.button-h-26::after,
.tabs-2 div.button-h-27::after,
.tabs-2 div.button-h-28::after,
.tabs-2 div.button-h-29::after,
.tabs-2 div.button-h-30::after {
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
  font-weight: normal;
  line-height: 1.6;
  font-size: inherit;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.tabs-2 div.button-h-1::before,
.tabs-2 div.button-h-2::before,
.tabs-2 div.button-h-3::before,
.tabs-2 div.button-h-4::before,
.tabs-2 div.button-h-5::before,
.tabs-2 div.button-h-6::before,
.tabs-2 div.button-h-7::before,
.tabs-2 div.button-h-8::before,
.tabs-2 div.button-h-9::before,
.tabs-2 div.button-h-10::before,
.tabs-2 div.button-h-11::before,
.tabs-2 div.button-h-12::before,
.tabs-2 div.button-h-13::before,
.tabs-2 div.button-h-14::before,
.tabs-2 div.button-h-15::before,
.tabs-2 div.button-h-16::before,
.tabs-2 div.button-h-17::before,
.tabs-2 div.button-h-18::before,
.tabs-2 div.button-h-19::before,
.tabs-2 div.button-h-20::before,
.tabs-2 div.button-h-21::before,
.tabs-2 div.button-h-22::before,
.tabs-2 div.button-h-23::before,
.tabs-2 div.button-h-24::before,
.tabs-2 div.button-h-25::before,
.tabs-2 div.button-h-26::before,
.tabs-2 div.button-h-27::before,
.tabs-2 div.button-h-28::before,
.tabs-2 div.button-h-29::before,
.tabs-2 div.button-h-30::before {
  position: absolute;
  top: 0;
  left: -2rem;
  bottom: 0;
  padding: 5px;
  margin: auto;
  height: 21px;
  font-size: var(--div-button-h-before-font-size);
  color: rgb(var(--div-button-h-before-color), 1);
  line-height: 1.65;
  background: rgba(var(--div-button-h-before-background), 0.9);
  box-shadow: 0 0 5px rgba(var(--div-button-h-before-box-shadow), 0.1);
  text-shadow: 0 1px 2px rgba(var(--div-button-h-before-text-shadow), 0.5);
  border-radius: 0.3rem;
  z-index: 99;
  white-space: nowrap;
  overflow: hidden;
  transform: scale(0);
  transition: 0.18s ease-in-out;
  pointer-events: none;
}
.tabs-2 .header div:hover div.button-h-1::before,
.tabs-2 .header div:hover div.button-h-2::before,
.tabs-2 .header div:hover div.button-h-3::before,
.tabs-2 .header div:hover div.button-h-4::before,
.tabs-2 .header div:hover div.button-h-5::before,
.tabs-2 .header div:hover div.button-h-6::before,
.tabs-2 .header div:hover div.button-h-7::before,
.tabs-2 .header div:hover div.button-h-8::before,
.tabs-2 .header div:hover div.button-h-9::before,
.tabs-2 .header div:hover div.button-h-10::before,
.tabs-2 .header div:hover div.button-h-11::before,
.tabs-2 .header div:hover div.button-h-12::before,
.tabs-2 .header div:hover div.button-h-13::before,
.tabs-2 .header div:hover div.button-h-14::before,
.tabs-2 .header div:hover div.button-h-15::before,
.tabs-2 .header div:hover div.button-h-16::before,
.tabs-2 .header div:hover div.button-h-17::before,
.tabs-2 .header div:hover div.button-h-18::before,
.tabs-2 .header div:hover div.button-h-19::before,
.tabs-2 .header div:hover div.button-h-20::before,
.tabs-2 .header div:hover div.button-h-21::before,
.tabs-2 .header div:hover div.button-h-22::before,
.tabs-2 .header div:hover div.button-h-23::before,
.tabs-2 .header div:hover div.button-h-24::before,
.tabs-2 .header div:hover div.button-h-25::before,
.tabs-2 .header div:hover div.button-h-26::before,
.tabs-2 .header div:hover div.button-h-27::before,
.tabs-2 .header div:hover div.button-h-28::before,
.tabs-2 .header div:hover div.button-h-29::before,
.tabs-2 .header div:hover div.button-h-30::before {
  transform: scale(1);
  left: 2.55rem;
}
@media screen and (max-width: 1000px) {
  .tabs-2 {
    display: block;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0.6rem;
  }
  .tabs-2 .header {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    padding: 0.5rem 0.5rem 0;
    border-radius: 0.65rem 0.65rem 0 0;
    border-bottom: inherit;
    border-right: none;
    text-align: center;
  }
  .tabs-2 .header div {
    display: inline-flex;
    margin: auto 0.1rem;
  }
  .tabs-2 .container {
    border-radius: 0 0 0.65rem 0.65rem;
    border-top: none;
    border-left: 1px solid rgba(var(--border-1px-container), 1);
  }
  .tabs-2 .header::-webkit-scrollbar-thumb {
    border-radius: 0rem;
  }
  .tabs-2 .header::-webkit-scrollbar {
    height: 8px;
  }
  .tabs-2 div.button-h-1::before,
  .tabs-2 div.button-h-2::before,
  .tabs-2 div.button-h-3::before,
  .tabs-2 div.button-h-4::before,
  .tabs-2 div.button-h-5::before,
  .tabs-2 div.button-h-6::before,
  .tabs-2 div.button-h-7::before,
  .tabs-2 div.button-h-8::before,
  .tabs-2 div.button-h-9::before,
  .tabs-2 div.button-h-10::before,
  .tabs-2 div.button-h-11::before,
  .tabs-2 div.button-h-12::before,
  .tabs-2 div.button-h-13::before,
  .tabs-2 div.button-h-14::before,
  .tabs-2 div.button-h-15::before,
  .tabs-2 div.button-h-16::before,
  .tabs-2 div.button-h-17::before,
  .tabs-2 div.button-h-18::before,
  .tabs-2 div.button-h-19::before,
  .tabs-2 div.button-h-20::before,
  .tabs-2 div.button-h-21::before,
  .tabs-2 div.button-h-22::before,
  .tabs-2 div.button-h-23::before,
  .tabs-2 div.button-h-24::before,
  .tabs-2 div.button-h-25::before,
  .tabs-2 div.button-h-26::before,
  .tabs-2 div.button-h-27::before,
  .tabs-2 div.button-h-28::before,
  .tabs-2 div.button-h-29::before,
  .tabs-2 div.button-h-30::before {
    display: none;
  }
}
