@media screen and (min-width: 1200px) {
  .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar {
    padding: 0px 10px 10px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 0.5rem;
    transition: 0.5s ease;
    background: rgba(var(--menu-back), 0.25);
  }
  .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar.manga {
    margin-right: 7%;
    width: 33%;
  }
  .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar.anime {
    margin-left: 7%;
    width: 33%;
    margin-right: 20%;
  }
  .l-page {
    padding: 10px 15px !important;
    overflow: hidden;
  }
  body#profiles_edit .l-page {
    overflow: visible;
  }
  .p-profiles .profile-head .c-info .c-additionals div a {
    font-size: 12px !important;
  }
  .p-profiles-show.x1200 .profile-content .c-left,
  .p-profiles-show.x1000 .profile-content .c-left {
    width: 49%;
  }
  .p-profiles-show.x1200 .profile-content .c-right .cc-2a > .c-column,
  .p-profiles-show.x1000 .profile-content .c-right .cc-2a > .c-column {
    box-sizing: border-box;
    position: relative;
    width: 100%;
  }
  .p-profiles-show.x1200 .profile-content .c-right,
  .p-profiles-show.x1000 .profile-content .c-right {
    width: 100% !important;
  }
  .profile-content > .cc-2 .c-column .cc-2a.m30 {
    min-height: 230px;
    position: absolute;
    top: 0;
    right: 25%;
    width: 24%;
    margin-top: -273px;
  }
  .p-profiles .profile-head .c-info .c-lists-info {
    transition: none !important;
    transform: scale(1) !important;
    opacity: 1 !important;
  }
  .p-profiles .profile-head .c-brief header.head .misc {
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 15px;
    padding: 0px;
    font-size: 10px !important;
    margin: 0;
  }
  .p-profiles .profile-head .c-brief .avatar .profile-actions {
    right: 0 !important;
  }
  .p-profiles .profile-head .c-brief .avatar .profile-actions {
    position: absolute;
    bottom: 2px;
    z-index: 2;
  }
  .profile-actions .mail,
  .profile-actions .talk,
  .profile-actions .fav-remove,
  .profile-actions .ban,
  .profile-actions .fav-add,
  .profile-actions .settings,
  .profile-actions .ignore-add,
  .profile-actions .ignore-remove {
    margin-left: 0;
    padding: 10px 10px 5px;
    border-radius: 0px;
    transition: 0, 3s ease;
  }

  .p-profiles-show .b-club .logo {
    width: 100%;
  }
  .p-profiles-show .cc-friends .b-user,
  .p-profiles-show .cc-friends .b-user:last-child {
    width: 21%;
    margin: auto 0% !important;
  }
  .p-profiles .profile-head .c-brief .avatar img {
    border-radius: 50%;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  }
  .x1000 > .l-page div .profile-head .c-info .c-lists-info,
  .p-profiles .profile-head .c-info .c-lists-info {
    z-index: 2;
    width: 100%;
    margin: auto;
    height: 110px;
    margin-top: 200px !important;
    opacity: 0.1;
    transform: scale(0.3);
  }
  .p-profiles .profile-head .c-brief header.head .misc span {
    background: rgba(var(--block-color), 0.7);
    padding: 4px 13px;
    border-radius: 15px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2) !important;
  }

  .p-profiles .profile-head {
    overflow: visible;
    margin: -15px 0px 10px;
    position: relative;
  }
  .x1000 > .l-page div .profile-head {
    height: 385px;
  }
  body#profiles_show .profile-content {
    margin-top: -551px;
  }

  .p-profiles .profile-head .c-brief {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 110px;
    padding: 0 15px;
  }
.p-profiles .profile-head .c-brief .avatar {
    margin: -285px 30px 30px 0!important;
    text-align: center;
    max-width: 100%;
    width: 100%;
    float: none !important;
}
  .p-profiles .profile-head .c-brief header {
    text-align: center;
    margin-top: -15px !important;
  }
  .p-profiles .profile-head .c-brief header {
    padding: 14px 0 0;
  }
  .p-profiles .profile-head {
    background-image: none;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: none;
  }
  .profile-actions .mail,
  .profile-actions .talk,
  .profile-actions .fav-remove,
  .profile-actions .ban,
  .profile-actions .fav-add,
  .profile-actions .settings,
  .profile-actions .ignore-add,
  .profile-actions .ignore-remove {
    margin-left: 0;
    padding: 10px 10px 5px;
    border-radius: 3px;
    transition: 0.3s ease;
  }
  .profile-actions .mail:hover {
    color: rgba(var(--hover_color), 1);
  }
  .profile-actions .mail::before,
  .profile-actions .talk::before,
  .profile-actions .fav-remove::before,
  .profile-actions .ban::before,
  .profile-actions .fav-add::before,
  .profile-actions .settings::before .profile-actions .ignore-add::before,
  .profile-actions .ignore-remove::before {
    font-size: 20px;
  }
  .p-profiles .profile-head .c-brief header h1 {
    margin-top: -13px;
  }
  .b-stats_bar a.title,
  .b-stats_bar .title {
    line-height: 40px;
  }
  .b-stats_bar.manga .compatibility a:before,
  .b-stats_bar.anime .compatibility a:before,
  .p-profiles
    .profile-head
    .c-info
    .c-lists-info
    .b-stats_bar
    .compatibility
    .text.weak:before,
  .p-profiles
    .profile-head
    .c-info
    .c-lists-info
    .b-stats_bar
    .compatibility
    .text.zero:before,
  .b-stats_bar .compatibility .text.high:before,
  .b-stats_bar .compatibility .text.moderate:before,
  .b-stats_bar .compatibility .text.full:before {
    font-size: 24px;
    line-height: 40px;
  }
  /* Абсолютно позиционированный элемент нужно сначала растянуть на всю ширину */
  .p-profiles .profile-head .c-info .c-additionals {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    margin-bottom: 118px;
  }
  .b-stats_bar .stat_names {
    font-size: 12px;
    height: 30px;
  }
  .p-profiles .profile-head .c-info .c-additionals div a {
    color: rgba(var(--light_color), 1) !important ;
    transition: 0.3s ease;
  }
  .p-profiles .profile-head .c-info .c-additionals,
  .p-profiles .profile-head .c-brief header .notice {
    text-shadow: 1px -1px 0px rgba(var(--nick-cover), 1),
      -1px 1px 0px rgba(var(--nick-cover), 1),
      -1px -1px 0px rgba(var(--nick-cover), 1),
      1px 1px 0px rgba(var(--nick-cover), 1),
      0px -1px 0px rgba(var(--nick-cover), 1),
      0px 1px 0px rgba(var(--nick-cover), 1),
      1px 0px 0px rgba(var(--nick-cover), 1),
      -1px 0px 0px rgba(var(--nick-cover), 1);
  }
  .cc-2.block .headline > a,
  .cc-2.block .subheadline > a,
  .cc-2.block .subheadline,
  .block.achievements .subheadline,
  .block.achievements .subheadline > a {
    justify-content: flex-start;
  }
  .p-profiles-show .cc-friends .b-user,
  .p-profiles-show .cc-friends .b-user:last-child {
    width: 16%;
    margin: auto 0% !important;
  }
  body#profiles_show .profile-head {
    top: -554px;
    height: 554px;
  }

  * .c-brief header.head h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .p-profiles .profile-head .c-brief .avatar img {
    width: 175px;
    height: auto;
  }
  .p-profiles .profile-head .c-brief header.head .misc {
    top: auto;
    bottom: 18px;
    left: 0;
    width: 100%;
  }
  body#profiles_show .activity .b-nothing_here {
    line-height: 99px !important;
  }
  body#profiles_show .l-page {
    margin-top: 660px;
  }
  body#profiles_show .profile-content .cc-2.block {
    margin-bottom: 30px;
    transition: margin 0s, padding 0s, width 0s, height 0s;
  }
  .cc-2.block .headline > a,
  .cc-2.block .subheadline > a,
  .cc-2.block .subheadline,
  .block.achievements .subheadline,
  .block.achievements .subheadline > a {
    justify-content: center;
  }

  body#profiles_show .profile-head:before {
    content: "";
    width: calc(100% + 100px);
    height: 100%;
    position: absolute;
    right: -50px;
    top: 0px;
    border-radius: 18px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  }
  .p-profiles .profile-head .c-history,
  .p-profiles .profile-head .c-history.x2,
  .p-profiles .profile-head .c-history.x3 {
    position: absolute;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: center;
    top: -71px;
    width: 100%;
    padding: 0px;
    right: 0px;
    margin: 0px;
    height: 62px;
    background: rgba(var(--menu-back), 0.3);
    padding: 4px 6px;
    border-radius: 14px;
    box-sizing: content-box;
    float: none;
  }
  .profile-head .subheadline.m13 {
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 0;
    display: inline-flex;
    padding: 0px;
    margin: 0px !important;
    height: calc(100% - 8px);
    width: 40px;
    background: rgba(var(--block-color), 0.3);
    color: rgba(var(--dark-color), 0.5);
  }
  .profile-head .c-history.x1 .subheadline.m13 {
    right: 4px;
  }
  .profile-head .c-history.x2 .subheadline.m13 {
    right: 200px;
  }
  .profile-head .c-history.x3 .subheadline.m13 {
    right: 4px;
  }
  .c-history .b-block_list {
    width: 100%;

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .p-profiles .profile-head .c-history .entry .title {
    padding-top: 3px;
  }
  .p-profiles .profile-head .c-history .entry,
  .p-profiles .profile-head .c-history.x3 .entry {
    display: inline-block;
    width: 372px;
    min-width: 372px;
    margin: 0 1% 0 0px;
  }
  .p-profiles .profile-head .c-history .entry:last-child {
    margin-right: calc(40px + 1%);
    box-sizing: content-box;
  }

  #profiles_show .subheadline.m13 > a {
    padding: 0px;
    font-size: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #profiles_show.subheadline.m13 > a:hover {
    color: rgba(var(--hover-color), var(--hundred)) !important;
    background: none;
    box-shadow: none !important;
    border: none !important;
    font-size: 0px;
  }
  #profiles_show .subheadline.m13 > a:before {
    display: none;
  }
  #profiles_show .subheadline.m13 > a:after {
    content: "\f187";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: rgba(var(--dark-color), 0.15);
  }
  #profiles_show .subheadline.m13:after {
    content: "\f187";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: rgba(var(--dark-color), 0.15); */
    position: Absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  .profile-content > .cc-2 .c-column .cc-2a.m30 {
    min-height: 230px;
    margin-left: -40px;
    width: 100%;
    right: 0px;
  }
  .profile-content .c-right .cc-2a .c-column.m0:first-child {
    position: absolute;
    width: 18%;
    right: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .b-clubs.one-line {
    display: inline-flex;
    vertical-align: top;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    min-height: 190px;
    top: 0px;
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .profile-content .b-club .logo {
    margin: 0px;
    width: 92%;
  }
  .b-clubs.one-line .b-club,
  .b-clubs.one-line .b-club:last-child {
    float: none;
    width: 26%;
    padding: 4px;
    margin: auto 15px !important;
  }
  body#profiles_show .b-clubs.one-line .b-club,
  body#profiles_show .b-clubs.one-line .b-club:last-child {
    width: 35%;
  }
  .profile-content .c-right .cc-2a .c-column.m0:nth-child(2n) {
    position: absolute;
    width: 18%;
    left: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .profile-content .c-right .cc-2a .c-column.m0 .subheadline a {
    padding-right: 0px;
  }
  .p-profiles-show.x1200 .profile-content .c-left,
  .p-profiles-show.x1000 .profile-content .c-left {
    width: 60%;
    left: 20%;
    margin-right: 0px;
    z-index: 2;
  }
  .p-profiles-show.x1200 .profile-content .c-right,
  .p-profiles-show.x1000 .profile-content .c-right {
    z-index: 1;
    top: 18px;
  }
  .profile-content > .cc-2 .c-column .cc-2a.m30 .cc-friends {
    display: inline-flex;
    vertical-align: top;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    min-height: 190px;
    top: 0px;
    width: 100%;
    padding: 0px;
  }
  .p-profiles-show .cc-friends .b-user,
  .p-profiles-show .cc-friends .b-user:last-child {
    width: 21%;
    margin: auto 1% !important;
  }
  .cc-friends .avatar img {
    width: 42px;
  }

  * .c-brief header.head h1 {
    font-size: 38px;
    line-height: 45px;
  }

  .p-profiles .cc-2a .c-column.m0 .subheadline {
    margin-bottom: 0px !important;
  }

  .p-profiles-show .profile-content .graph {
    height: 124px;
  }
  .title .label {
    display: inline-flex;
    width: auto;
  }

  .p-profiles .profile-head .c-brief header.head .misc {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgba(var(--hover-color), var(--hundred)) !important;
  }
  body#profiles_show .activity .b-nothing_here {
    line-height: 123px !important;
  }
  .p-profiles .profile-head .c-history .entry {
    border-radius: 10px;
  }
}