.b-shiki_editor .smileys {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 360px;
    padding: 0 10px;
    margin: -370px 360px 0;
    background-color: rgba(var(--menu-back), 0.8);
    box-shadow: 0 2px 6px 2px #00000026;
    border-radius: 3px;
    z-index: 9;
    overflow: auto;
    backdrop-filter: blur(4px);
}

@media screen and (max-width: 380px) {
    .b-shiki_editor .smileys {
        width: 100%;
    }
}
@media screen and (max-width: 830px) {
    .b-shiki_editor .smileys {
        right: 0;
        margin: -370px auto;
    }
}

.b-shiki_editor .smileys::-webkit-scrollbar {
    width: 12px;
}

.b-shiki_editor .smileys::-webkit-scrollbar-thumb {
    background-color: rgba(var(--light-color), 0.5);
    box-shadow: inset 0 0 0 5px rgba(var(--light-color), 0.45);
}

.b-shiki_editor .smileys div {
    margin: 12px 0;
    position: relative;
    left: 9px;
}

.b-shiki_editor .smileys div::before {
    display: block;
    margin-bottom: 4px;
    color: rgba(var(--dark-color), 1);
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}

.b-shiki_editor .smileys div:nth-child(1)::before {
    content: "Группа 1";
}

.b-shiki_editor .smileys div:nth-child(2)::before {
    content: "Группа 2";
}

.b-shiki_editor .smileys div:nth-child(3)::before {
    content: "Группа 3";
}

.b-shiki_editor .smileys div:nth-child(4)::before {
    content: "Группа 4";
}

.b-shiki_editor .smileys div:nth-child(5)::before {
    content: "Группа 5";
}

.b-shiki_editor .smileys div:nth-child(6)::before {
    content: "Группа 6";
}

.b-shiki_editor .smileys div:nth-child(7)::before {
    content: "Группа 7";
}

.b-shiki_editor .smileys div:nth-child(8)::before {
    content: "Группа 8";
}

.b-shiki_editor .smileys div:nth-child(9)::before {
    content: "Группа 9";
}

.b-shiki_editor .smileys img {
    height: 50px;
    margin: 0 4px 4px 0;
    border-radius: 0.25rem;
}

.b-shiki_editor .smileys img[alt=":interested:"] {
    width: 50px;
    padding: 0 6px 0 0;
}

.b-shiki_editor .smileys img[alt=":hope:"] {
    width: 50px;
    padding: 0 12px 0 0;
}

.b-shiki_editor .smileys img[alt=":s2:"] {
    display: none;
}

.b-shiki_editor .smileys img[alt=":sarcasm:"] {
    width: 104px;
    padding: 0 20px;
}

.b-shiki_editor .smileys img[alt=":sarcasm:"] ~ img {
    width: 104px;
    padding: 0 0 0 4px;
}

/* fix overflow bug */
.b-message,
.b-comment {
    overflow: visible;
}
