.Ssylki-anime-v-1-standard-blok-1 {
   margin: 0 0 3rem 0;
}
.Ssylki-anime-v-1-standard {
   margin-bottom: 1rem;
   z-index: 1;
}
div.Ssylki-anime-v-1-standard:hover {
   z-index: 10;
}
.Ssylki-anime-v-1-standard::before {
   margin: 0;
   left: 0;
   right: 0;
   top: 0;
   filter: blur(3.5px);
}
.Ssylki-anime-v-1-standard .Text-dno-ramka-standard {
   z-index: 3;
   padding-top: 120%;
}
div.Ssylki-anime-v-1-standard:hover .Text-dno-ramka-standard {
   z-index: 4;
   padding-top: 129%;
}
.Ssylki-anime-v-1-standard,
.Ssylki-anime-v-1-standard::before,
.Ssylki-anime-v-1-standard .Text-dno-ramka-standard {
   transition: 0s ease-in-out, height 0.4s ease-in-out, z-index 0.4s ease-in-out,
      opacity 0.4s ease-in-out, padding 0.4s ease-in-out;
}
.Ssylki-anime-v-1-standard .Text-dno-ramka-standard,
.Ssylki-anime-v-1-standard::before {
   height: calc(100% + 0rem);
}
div.Ssylki-anime-v-1-standard:hover .Text-dno-ramka-standard,
div.Ssylki-anime-v-1-standard:hover::before {
   height: calc(100% + 3rem);
}